body{ margin:0px; padding:0px;}
#container{ width:980px; margin: 0px auto;}
.head{ width:980px; height:135px;}
.head iframe{ width:980px; height:135px;}
.body{ width:980px; height:560px;}
.iframe-left{ width:200px; height:560px; float:left;}
.iframe-right{ width:780px; height:560px; float:left;}
.foot{ width:980px; height:150px;}
.foot iframe{ width:980px; height:150px;}

