
body {
	background-image:url(../images/customer.jpg);
	background-repeat: no-repeat;
}

.img1{ width:158px; height:31px; border:0px;}
.img2{ width:160px; height:32px; border:0px;}
.img3{ width:157px; height:31px; border:0px;}

.d{ width:150px;}
.d a{ margin:0px auto; width:158px; height:31px; display:block; overflow:hidden;}
.d a:hover{ height:auto; font: bold 15px/25px "ו"; color:#FF9966; text-decoration:none; text-align:center;}

